<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Movies</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/public/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <nk rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googllieapis.com/css2?family=Cardo&family=Source+Sans+Pro:wght@200&display=swap" rel="stylesheet">
  </head>
  <body class="black">
    <div class="container">
        <nav>
            <div class="nav-wrapper" id="navbarcolor">
              <a href="#" class="brand-logo">Movies</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li class="active"><a href="/"><span>Home</span><i class="material-icons left">home</i></a></li>
                <li class="active"><a href="/movies">Movies</a></li>
                <li class="active"><a href="/movies/new">Add Movies</a></li>
                <li class="active"><a href="/actors">Actors</a></li>
              </ul>
            </div>
        </nav>
        <div class="center-align" id="text-style">