<%- include('./partials/header') %>
<body>
    <div class="center-align">
        <h1>Welcome to Movie Zone</h1>
        <p>We know you'll stay here long. </p>
        <a class="waves-effect waves-light btn" href="/movies">All Movies</a>
    </div>
</body>

<%- include('./partials/footer') %>