<%- include('./partials/header') %>
<body>
    <div class="center-align">
        <h1>Hello Users!</h1>
        <p>Welcome to the Movies Zone! We know you'll stay here long. </p>
        <a class="waves-effect waves-light btn" href="/movies">See all the Movies!</a>
    </div>
</body>

<%- include('./partials/footer') %>